.container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-image: url("../images/programmer.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    overflow-x: hidden;
}

.search-col {
    padding-bottom: 2%;
}

.dropdown {
    margin:auto;
    width: 100%;
    display: inline-block;
    margin-top: 2%;
}

.search-input {
    background-color: rgba(230, 231, 255, 0.8);
    padding: 1% 0 2% 0;
    border-radius: 0;
    width: 70%;
    font-size: 120%;
    float:left;
    margin-top: 4%;
    margin-left: 10%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.search-button {
    font-size: 120%;
    padding: 1% 0 2% 0;
    float: left;
    background-color: grey;
    width: 10%;
    color: white;
    margin-top: 4%;
    margin-left: -1%;
    border-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.list {
    background-color: rgba(230, 231, 255, 0.66);
    position: relative;
    width: 79%;
    list-style: none;
    -webkit-margin-after: 5%;
    margin-left: 10%;
}
.list li {
    margin-left: 5%;
}
.list li p {
    margin-top: 5%;
    font-weight: bold;
}

.date {
    width: 90%;
}
.time {
    margin: 2%;
}

.detected-object {
    font-size: 1.2em;
    margin: 2%;
    box-shadow: 1px 1px 5px #888888;
    background-color: rgba(230, 231, 255, 0.7);
    padding-top: 1%;
    padding-bottom: 1%;
}
